@import "settings/settings";

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Ubuntu';
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


body {
	background: #b4bad2;
	color: #fffce1;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Ubuntu', Arial, sans-serif;
	a{
		color: #4e4a46;
		text-decoration: none;
		outline: none;

		&:hover, &:focus {
			color: #3fc4e0;
			outline: none;
		}
	}
	button:focus {
		outline: none;
	}
	.kg-header {
		margin: 0 auto;
		padding: 3em 2em;
		text-align: center;
		h2{
			margin: 0 auto;
			font-weight: 800;
			font-size: 2.5em;
			line-height: 1;
			span{
				display: block;
				font-size: 50%;
				font-weight: 400;
				padding-top: 0.325em;
			}
		}
	}
	span{
			display: block;
			color: #3fc4e0;
			padding-bottom: 1em;
		}
	@media(max-width: 40em) {
		font-size: 80%;
			.kg-header h2 {
				font-size: 1.5em;
			}
	}
}

.demo-col{
	background-color: #def0fa;
	text-align: center;
	padding: 1em 0;
	display: block;
	border-radius: 3px;
}
.row{
	margin-bottom: 2em;
}

#explanation{
	margin-top: 2em;
}

